
{% extends 'one-column.twig' %}

{% block header %}
    <div class="ContentHeader">
        <div class="Container">
            <h1 class="ContentHeader-title">Blog Search</h1>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="u-flex u-flexJustifyCenter">
        {{ form.openTag }}
            {% set form.fields.term.class = 'TextInput' %}
            {% set form.fields.term.placeholder = 'Search...' %}
            <label for="{{ form.fields.term.id }}" class="u-hiddenVisually">Search</label>
            {{ form.fields.term.tag }}
            <button type="submit" class="Button">Search</button>
        {{ form.closeTag }}
    </div>
{% endblock %}
