{% include 'snippets/header' %}

{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}

<div class="ContentContainer">
    <main>
        {% block main _page.content() %}
    </main>
</div>

{% include 'snippets/footer' %}
