{% include 'snippets/header' %}

{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}

<div class="ContentContainer">
    {% if _core.theme.settings.showBreadcrumb == "yes" and _page.isHome == false %}
        {{ _page.breadcrumb() }}
    {% endif %}
    <main>
        {% block main _page.content() %}
    </main>
</div>

{% include 'snippets/footer' %}
