/* =========================================================================== *\
    BREADCRUMB
\* =========================================================================== */

:root {
    --Breadcrumb-fontSize: 1.2rem;
    --Breadcrumb-color: #595959;
}

/** @define Breadcrumb **/
.Breadcrumb {
    font-size: var(--Breadcrumb-fontSize);
    padding: 1em var(--g-gutter) 0;
}

.Breadcrumb-link {
    color: var(--Breadcrumb-color);
    text-decoration: underline;
}

@media (--c-bp-sm) {
    .Breadcrumb {
        padding: 1em var(--g-gutter-sm) 0;
    }
}
