/* =========================================================================== *\
    BREADCRUMB
\* =========================================================================== */

/** @define Breadcrumb **/
.Breadcrumb {
    color: var(--Breadcrumb-color);
    font-size: var(--Breadcrumb-fontSize);
    padding: 1em var(--g-gutter) 0;
}

.Breadcrumb-link {
    color: var(--Breadcrumb-link-color);
    text-decoration: underline;
}

.Breadcrumb-link:focus-visible {
    color: var(--Breadcrumb-link-color--hover);
}

@media (hover: hover) and (pointer: fine) {
    .Breadcrumb-link:hover {
        color: var(--Breadcrumb-link-color--hover);
    }
}

.Breadcrumb-active {
    color: var(--Breadcrumb-active-color);
}

@media (--c-bp-sm) {
    .Breadcrumb {
        padding: 1em var(--g-gutter-sm) 0;
    }
}
