/* =========================================================================== *\
    SLIDER
\* =========================================================================== */

:root {
    
    /* Title */
    --Slider-title-fontFamily: var(--base-typography-heading-fontFamily);
    --Slider-title-fontWeight: 400;
    --Slider-title-fontSize: 4.5rem;
    --Slider-title-lineHeight: 1.1;
    --Slider-title-textTransform: uppercase;
    --Slider-title-color: #fff;
    
    /* Subtitle */
    --Slider-subtitle-fontFamily: var(--base-typography-fontFamily);
    --Slider-subtitle-fontWeight: 400;
    --Slider-subtitle-fontSize: 2.2rem;
    --Slider-subtitle-lineHeight: 1.2;
    --Slider-subtitle-textTransform: none;
    --Slider-subtitle-color: #fff;
    
    /* Content (small screen) */
    --Slider-content-background--sm: #920504;
}

/** @define Slider */
.Slider {
    clear: both;
    position: relative;
}

.Slider-link,
.Slider-link:active,
.Slider-link:focus,
.Slider-link:hover {
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
}

.Slider-image {
    height: auto;
    height: 100%;
    width: 100%;
}

/* postcss-bem-linter: ignore */
.Slider-image > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Slider-itemNav {
    cursor: pointer;
}

/* ------------------------------------ *\
    #SLIDER CONTENT
\* ------------------------------------ */

.Slider-content {
    box-sizing: border-box;
    left: 0;
    padding: 0 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Slider-content--bottomLeft,
.Slider-content--bottomCenter,
.Slider-content--bottomRight {
    bottom: 5%;
    top: auto;
    transform: none;
}

.Slider-content--center,
.Slider-content--bottomCenter {
    text-align: center;
    width: 100%;
}

.Slider-content--centerRight,
.Slider-content--bottomRight {
    left: auto;
    right: 0;
    text-align: right;
}

.Slider-captionTitle {
    box-sizing: border-box;
    color: var(--Slider-title-color);
    display: block;
    font-family: var(--Slider-title-fontFamily);
    font-size: var(--Slider-title-fontSize);
    font-weight: var(--Slider-title-fontWeight);
    line-height: var(--Slider-title-lineHeight);
    max-width: 45vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    text-transform: var(--Slider-title-textTransform);
}

.Slider-caption {
    box-sizing: border-box;
    color: var(--Slider-subtitle-color);
    display: block;
    font-family: var(--Slider-subtitle-fontFamily);
    font-size: var(--Slider-subtitle-fontSize);
    font-weight: var(--Slider-subtitle-fontWeight);
    line-height: var(--Slider-subtitle-lineHeight);
    max-width: 30vw;
    text-shadow: 0 0 2px rgba(0, 0, 0, .6);
    text-transform: var(--Slider-subtitle-textTransform);
}

.Slider-content--center .Slider-captionTitle,
.Slider-content--center .Slider-caption,
.Slider-content--bottomCenter .Slider-captionTitle,
.Slider-content--bottomCenter .Slider-caption {
    max-width: 100%;
}

@media (--c-bp-lg) {
    .Slider-captionTitle {
        font-size: 2em;
        max-width: 50vw;
    }

    .Slider-caption {
        max-width: 40vw;
    }
}

@media (--c-bp-md) {
    .Slider-content {
        background: var(--Slider-content-background--sm);
        bottom: auto;
        display: block;
        left: auto;
        padding: 8px;
        position: relative;
        right: auto;
        text-align: left;
        text-shadow: none;
        top: auto;
        transform: none;
    }

    .Slider-captionTitle {
        font-size: var(--base-typography-h1-fontSize);
        line-height: var(--base-typography-h1-lineHeight);
        max-width: 100%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    }

    .Slider-caption {
        max-width: 100%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    }
}

@media (--c-bp-sm) {
    .Slider-captionTitle {
        font-size: var(--base-typography-h2-fontSize);
        line-height: var(--base-typography-h2-lineHeight);
        text-transform: none;
    }
}
