/* =========================================================================== *\
    Calendar Box
\* =========================================================================== */

/* @define Box */
.Box {}

.Box-heading {
    align-items: center;
    column-gap: 10px;
    display: flex;
    margin-bottom: 5px;
}
