/* =========================================================================== *\
    CALENDAR MINI GRID
\* =========================================================================== */


/** @define CalendarMiniGrid */

.CalendarMiniGrid {
    table-layout: fixed;
    width: 100%;
}

.CalendarMiniGrid-navPrev,
.CalendarMiniGrid-navPrev:active,
.CalendarMiniGrid-navPrev:focus,
.CalendarMiniGrid-navPrev:hover,
.CalendarMiniGrid-navNext,
.CalendarMiniGrid-navNext:active,
.CalendarMiniGrid-navNext:focus,
.CalendarMiniGrid-navNext:hover {
    text-decoration: none;
}

.CalendarMiniGrid-navPrev {
    margin-right: 10px;
}

.CalendarMiniGrid-navNext {
    margin-left: 10px;
}

/* ------------------------------------ *\
    #GRID-CELLS
\* ------------------------------------ */


.CalendarMiniGrid-cell,
.CalendarMiniGrid-headCell {
    border: 1px solid #e6e6e6;
    padding: 0;
    text-align: center;
}

.CalendarMiniGrid-cell--isEmpty {
    background: #e9e9e9;
}

.CalendarMiniGrid-cell--isEnd {
    background: #f5f5f5;
}

.CalendarMiniGrid-cell--isToday {
    background: var(--theme-primary-color);
    color: #fff;
}

/* ------------------------------------ *\
    #DATE LINKS
\* ------------------------------------ */

.CalendarMiniGrid-dateLink {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.CalendarMiniGrid-dateLink--isCurrentDay,
.CalendarMiniGrid-dateLink:active,
.CalendarMiniGrid-dateLink:focus,
.CalendarMiniGrid-dateLink:hover {
    background: var(--theme-button-background-alt);
    color: #fff;
    text-decoration: none;
}

.CalendarMiniGrid-dateLink--isToday {
    color: #fff;
}