/* =========================================================================== *\
    ListCard styles (mostly used in recent calendar events list CBE
\* =========================================================================== */

/* ------------------------------------ *\
    ListCard
\* ------------------------------------ */

.ListCard {
    border-radius: 10px;
    box-shadow: 0 15px 30px rgb(4 43 55 / 25%);
}

/* ------------------------------------ *\
    ListCard header
\* ------------------------------------ */

.ListCard-header {
    align-items: center;
    background-color: var(--theme-primary-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.ListCard-header-title {
    color: #fff;
    margin: 0;
}

.ListCard-header-link {
    color: #fff;
}

.ListCard-header-link:hover {
    color: var(--theme-button-background-alt);
}

/* ------------------------------------ *\
    ListCard body
\* ------------------------------------ */

.ListCard-body {
    padding: 20px;
}

.ListCard-body-item {
    margin-bottom: 10px;
}
