/* =========================================================================== *\
    ListCard styles (mostly used in recent calendar events list CBE
\* =========================================================================== */

:root {
    --ListCard-borderRadius: 10px;
    
    /* Header */
    --ListCard-header-background: var(--theme-primary-color);
    --ListCard-header-color: #fff;
    --ListCard-header-color--hover: #fff;
}

/* ------------------------------------ *\
    ListCard
\* ------------------------------------ */

.ListCard {
    border-radius: var(--ListCard-borderRadius);
    box-shadow: 0 15px 30px rgb(4 43 55 / 25%);
    width: 100%;
}

/* ------------------------------------ *\
    ListCard header
\* ------------------------------------ */

.ListCard-header {
    align-items: center;
    background-color: var(--ListCard-header-background);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.ListCard-header-title {
    color: var(--ListCard-header-color);
    margin: 0;
}

.ListCard-header-link {
    color: var(--ListCard-header-color);
}

.ListCard-header-link:hover {
    color: var(--ListCard-header-color--hover);
}

/* ------------------------------------ *\
    ListCard body
\* ------------------------------------ */

.ListCard-body {
    padding: 20px;
}

.ListCard-body-item {
    margin-bottom: 10px;
}
