/* =========================================================================== *\
    Testimonials (Collection Widget)
\* =========================================================================== */

/* @define Testimonial */
.Testimonial {
    border-bottom: var(--Testimonial-borderWidth) solid var(--Testimonial-borderColor);
    margin-bottom: var(--Testimonial-spacing);
    padding-bottom: var(--Testimonial-spacing);
}

.Testimonial:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Testimonial-title {
    font-size: var(--Testimonial-title-fontSize);
    font-weight: var(--Testimonial-title-fontWeight);
    margin-bottom: var(--Testimonial-title-marginBottom);
}

/* ------------------------------------ *\
    Sidebar
\* ------------------------------------ */

.Testimonial--sidebar {
    background-color: var(--Testimonial-sidebar-background);
    border-radius: var(--Testimonial-sidebar-borderRadius);
    color: var(--Testimonial-sidebar-color);
    padding: var(--Testimonial-sidebar-padding) !important;
}

/* postcss-bem-linter: ignore */
.SidebarNav + .Testimonial--sidebar {
    margin-top: 20px;
}

.Testimonial--sidebar .Testimonial-title {
    font-size: 1.7rem;
}

.Testimonial--sidebar .Testimonial-content {
    font-size: 1.5rem;
}
