/* =========================================================================== *\
    Card component styles
\* =========================================================================== */

:root {
    --Card-borderRadius: 10px;
    
    /* Outline */
    --Card-outlineWidth--hover: 5px;
    --Card-outlineColor--hover: var(--color-primary);
    
    /* Title */
    --Card-title-color: var(--base-typography-color);
    --Card-title-fontWeight: 700;
    
    /* Subtitle */
    --Card-subtitle-color: var(--color-primary);
    --Card-subtitle-fontWeight: 700;
}

/* @define Card */
.Card {
    border-radius: var(--Card-borderRadius);
    box-shadow: 0 15px 30px rgb(4 43 55 / 25%);
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    transition: outline 250ms;
    width: 100%;
}

.Card:hover {
    outline: var(--Card-outlineWidth--hover) solid var(--Card-outlineColor--hover);
}

/* postcss-bem-linter: ignore */
.Card > div {
    margin-bottom: 10px;
}

/* postcss-bem-linter: ignore */
.Card > div:last-child {
    margin-bottom: 0;
}

.Card--noImage .Card-title {
    flex-grow: unset;
}

/* ------------------------------------ *\
    Card image
\* ------------------------------------ */

.Card-image {
    margin-bottom: 0 !important;
}

/* postcss-bem-linter: ignore */
.Card-image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.Card-image--aspect1by1 {
    display: block;
    padding-bottom: 100%;
    position: relative;
}

/* postcss-bem-linter: ignore */
.Card-image--aspect1by1 > img {
    height: 100%;
    image-orientation: none;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

/* ------------------------------------ *\
    Card content
\* ------------------------------------ */

.Card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

/* postcss-bem-linter: ignore */
.Card-inner > div {
    margin-bottom: 10px;
}

/* postcss-bem-linter: ignore */
.Card-inner > div:last-child {
    margin-bottom: 0;
}

.Card-date {
    color: var(--Card-subtitle-color);
    font-weight: var(--Card-subtitle-fontWeight);
}

.Card-category {
    color: var(--Button-background);
}

.Card-title {
    color: var(--Card-title-color);
    display: flex;
    font-weight: var(--Card-title-fontWeight);
    justify-content: center;
    text-align: center;
}

.Card-title--left {
    justify-content: flex-start;
    text-align: left;
}

.Card-title--push {
    flex-grow: 1;
}

.Card-abstract {
    flex-grow: 1;
}

/* ------------------------------------ *\
    Horizonal card styles
\* ------------------------------------ */

.Card--horizontal {
    margin-bottom: 20px;
}

/* postcss-bem-linter: ignore */
.Card--horizontal .Card-image img {
    border-radius: 10px 0 0 10px !important;
}

.Card--horizontal .Card-inner--noImage {
    height: unset !important;
}

.Card--horizontal .Card-title {
    margin-bottom: 20px;
}

@media (--c-bp-md) {

    /* postcss-bem-linter: ignore */
    .Card--horizontal .Card-image img {
        border-radius: 10px 10px 0 0 !important;
    }
    
    .Card--horizontal .Card-inner {
        height: unset !important;
    }
}
