/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */
.Header {
    background-color: var(--Header-background);
    color: var(--Header-color);
    display: block;
    padding: var(--Header-paddingVertical) var(--Header-paddingHorizontal);
}

.Header-logo {
    max-width: var(--Header-logo-width);
    object-fit: cover;
    width: 100%;
}

.Header-textLogo {
    color: var(--Header-textLogo-color);
    font-family: var(--Header-textLogo-fontFamily);
    font-size: var(--Header-textLogo-fontSize);
    font-weight: var(--Header-textLogo-fontWeight);
    letter-spacing: var(--Header-textLogo-letterSpacing);
    line-height: var(--Header-textLogo-lineHeight);
    text-transform: var(--Header-textLogo-textTransform);
}

.Header-textLogo:focus-visible {
    color: var(--Header-textLogo-color--hover) !important;
}

@media (hover: hover) and (pointer: fine) {
    .Header-textLogo:hover {
        color: var(--Header-textLogo-color--hover) !important;
    }
}

.Header-line {
    margin-bottom: 5px;
}

.Header-line:last-child {
    margin-bottom: 0;
}

.Header-button {
    display: inline-block;
    margin-left: 10px;
}

.Header-button:first-child {
    margin-left: 0;
}

.Header-skipToMain {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

.Header-skipToMain:focus {
    background-color: var(--Header-skipToMain-background);
    color: var(--Header-skipToMain-color);
    font-weight: bold;
    height: auto;
    left: 10px;
    padding: 5px 10px;
    text-decoration: underline;
    width: auto;
}

/* ------------------------------------ *\
    Social Icons
\* ------------------------------------ */

.Header-iconLink {
    color: var(--Header-socialIcon-color);
}

.Header-iconLink:focus-visible {
    color: var(--Header-socialIcon-color--hover);
}

@media (hover: hover) and (pointer: fine) {
    .Header-iconLink:hover {
        color: var(--Header-socialIcon-color--hover);
    }
}

/* ------------------------------------ *\
    Links
\* ------------------------------------ */

/* postcss-bem-linter: ignore */
.Header a:not(.Button):not(.Header-iconLink) {
    color: var(--Header-link-color);
    text-decoration: var(--Header-link-textDecoration);
}

/* postcss-bem-linter: ignore */
.Header a:not(.Button):not(.Header-iconLink):focus-visible {
    color: var(--Header-link-color--hover);
    text-decoration: var(--Header-link-textDecoration--hover);
}

@media (hover: hover) and (pointer: fine) {

    /* postcss-bem-linter: ignore */
    .Header a:not(.Button):not(.Header-iconLink):hover {
        color: var(--Header-link-color--hover);
        text-decoration: var(--Header-link-textDecoration--hover);
    }
}

/* postcss-bem-linter: ignore */
.Header a[href^=tel] {
    color: var(--Header-link-color);
    text-decoration: var(--Header-link-textDecoration);
}

/* postcss-bem-linter: ignore */
.Header a[href^=tel]:active,
.Header a[href^=tel]:focus,
.Header a[href^=tel]:hover {
    color: var(--Header-link-color--hover);
    text-decoration: var(--Header-link-textDecoration--hover);
}

/* ------------------------------------ *\
    Buttons
\* ------------------------------------ */

.Header-button {
    background-color: var(--Header-button-background);
    border: var(--Header-button-borderWidth) solid var(--Header-button-borderColor);
    border-radius: var(--Header-button-borderRadius);
    color: var(--Header-button-color);
}

.Header-button:focus-visible {
    background-color: var(--Header-button-background--hover);
    border-color: var(--Header-button-borderColor--hover);
    color: var(--Header-button-color--hover);
}

@media (hover: hover) and (pointer: fine) {
    .Header-button:hover {
        background-color: var(--Header-button-background--hover);
        border-color: var(--Header-button-borderColor--hover);
        color: var(--Header-button-color--hover);
    }
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--c-bp-md) {
    .Header-textLogo {
        font-size: var(--Header-textLogo-fontSize--sm);
        font-weight: var(--Header-textLogo-fontWeight--sm);
        letter-spacing: var(--Header-textLogo-letterSpacing--sm);
        line-height: var(--Header-textLogo-lineHeight--sm);
    }
}

@media (--c-bp-sm) {
    .Header {
        padding: var(--g-gutter-sm);
    }
}
