/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* @define Footer */
.Footer {
    margin: var(--Footer-sm-margin, 0);
    padding: var(--Footer-sm-padding, 0);
}

.Footer-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.Footer-company {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Footer-logo {
    max-width: var(--Footer-logo-width);
    width: 100%;
}

.Footer-phoneContent {
    white-space: nowrap;
}

.Footer-socialLink {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--c-bp-lg) {
    .Footer {
        margin: var(--Footer-margin, 0);
        padding: var(--Footer-padding, 0);
    }
}

@media (--c-bp-md) {
    .Footer-inner {
        flex-direction: row;
    }

    .Footer-company {
        display: grid;
        grid-template-columns: max-content 1fr;
        width: 100%;
    }
}

@media (width <= 48em) {
    .Footer-address {
        padding-left: 0 !important;
        text-align: center !important;
    }
}
