/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* :root {
    --Footer-paddingVertical: 80px;
    --Footer-paddingHorizontal: 160px;
    --Footer-paddingVertical--sm: 50px;
    --Footer-paddingHorizontal--sm: 50px;
    --Footer-background: #00263e;
    
    --Footer-content-fontFamily: sans-serif;
    --Footer-content-fontSize: 1.4rem;
    --Footer-content-fontWeight: 400;
    --Footer-content-lineHeight: 1.2;
    --Footer-content-letterSpacing: 0;
    --Footer-content-textTransform: uppercase;
    --Footer-color: #fff;
    --Footer-color--hover: #fff;
} */

/* @define Footer */
.Footer {
    background-color: var(--Footer-background);
    color: var(--Footer-color);
    font-family: var(--Footer-content-fontFamily);
    font-size: var(--Footer-content-fontSize);
    font-weight: var(--Footer-content-fontWeight);
    letter-spacing: var(--Footer-content-letterSpacing);
    line-height: var(--Footer-content-lineHeight);
    padding: var(--Footer-paddingVertical--sm) var(--Footer-paddingHorizontal--sm);
    text-transform: var(--Footer-content-textTransform);
}

.Footer * {
    color: var(--Footer-color);
    text-decoration: none;
}

.Footer a:focus-visible {
    color: var(--Footer-color--hover);
}

@media (hover: hover) and (pointer: fine) {
    .Footer a:hover {
        color: var(--Footer-color--hover);
    }
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--c-bp-lg) {
    .Footer {
        padding: var(--Footer-paddingVertical) var(--Footer-paddingHorizontal);
    }
}
