
{% extends "one-column.twig" %}

{% block header %}
    <div class="ContentHeader">
        <div class="Container">
            <h1 class="ContentHeader-title">Calendar Categories</h1>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if categoryCount > 0 %}
        <ul>
            {% for category in categories %}
                <li><a href="{{ category.url }}">{{ category.categoryName }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
