{% import 'macros/macros' as macros %}

<div class="Box">
    <div class="Box-heading">{{ macros.iconImg('search', 'Search', 'CalendarGrid-headingIcon') }} Calendar Search</div>
    <div class="Box-inner Box-inner--bordered">
        {{ searchForm.openTag }}
            <input type="text" class="TextInput u-sizeFull" name="{{ searchForm.fields.term.name }}" placeholder="Enter search term">
            <div class="u-margTop1"><button type="submit" class="Button u-sizeFull">Search</button></div>
        {{ searchForm.closeTag }}
    </div>
</div>