/* =========================================================================== *\
    PAGINATION
    Adds styles to the Cacao Pagination component
\* =========================================================================== */

/**  @define Pagination */
.Pagination {
    color: var(--Pagination-color);
}

.Pagination-item {
    color: var(--Pagination-item-color);
}

.Pagination-item:active,
.Pagination-item:focus,
.Pagination-item:hover {
    background-color: var(--Pagination-item-background--hover);
    color: var(--Pagination-item-color--hover);
}

.Pagination-item--isActive {
    background-color: var(--Pagination-item-background--active);
    color: var(--Pagination-item-color--active);
}
