/* =========================================================================== *\
    PAGINATION
    Adds styles to the Cacao Pagination component
\* =========================================================================== */

/**  @define Pagination */
.Pagination {
    align-items: center;
    display: flex;
    gap: var(--Pagination-gap-size);
    justify-content: center;
    margin-top: 0;
    margin: var(--Pagination-margin);
    padding: var(--Pagination-padding);
}

.Pagination-item {
    color: var(--Pagination-item-color);
    background-color: var(--Pagination-item-background);
    border: var(--Pagination-item-border);
    font-weight: var(--Pagination-item-font-weight);
    text-decoration: var(--Pagination-item-text-decoration);
    display: inline-flex;
    margin: var(--Pagination-item-margin);
    padding: var(--Pagination-item-padding);
}

.Pagination-item:active,
.Pagination-item:focus,
.Pagination-item:hover {
    background-color: var(--Pagination-item-background-hover);
    color: var(--Pagination-item-color-hover);
    font-weight: var(--Pagination-item-fontWeight-hover);
    text-decoration: none;
}

.Pagination-item--isActive {
    background-color: var(--Pagination-item-background--active);
    color: var(--Pagination-item-color--active);
    font-weight: var(--Pagination-item-fontWeight--active);
}

.Pagination-icon {
    margin: 0 !important;
}
