/* =========================================================================== *\
    Footer Nav
\* =========================================================================== */

/* @define FooterNav */
.FooterNav {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
