/* =========================================================================== *\
    SIDEBAR NAVIGATION
\* =========================================================================== */

:root {
    --SidebarNav-color: #333;
    --SidebarNav-color--hover: #333;
    --SidebarNav-color--active: #333;
}

/** @define SidebarNav */
.SidebarNav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SidebarNav-item {
    margin: 2px 0;
    padding: 0;
}

.SidebarNav-link {
    color: var(--SidebarNav-color);
    display: block;
    font-weight: 300;
    padding: 4px 8px;
    position: relative;
}

.SidebarNav-link--isParent {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.SidebarNav-link:active,
.SidebarNav-link:focus,
.SidebarNav-link:hover {
    color: var(--SidebarNav-color--hover);
    text-decoration: none;
}

.SidebarNav-link.is-current,
.SidebarNav-link.is-currentParent {
    color: var(--SidebarNav-color--active);
    text-decoration: none;
}
