
{% set events = _api.calendar.events.limit(numberOfEvents) %}

<div class="u-flex u-flexJustifyCenter">
    <div class="ListCard">
        <div class="ListCard-header">
            <h2 class="ListCard-header-title">{{ title }}</h2>
            <div class="ListCard-header-button">
                <a href="/calendar" class="ListCard-header-link">View All</a>
            </div>
        </div>
        <div class="ListCard-body Grid">
            {% for event in events %}
                <div class="ListCard-body-item Grid-cell u-size1of4">{{ event.dateTimestamp|date('M j') }}</div>
                <div class="ListCard-body-item Grid-cell u-size3of4"><a href="{{ event.url }}">{{ event.title }}</a></div>
            {% endfor %}
        </div>
    </div>
</div>
